::selection {
  color: #FFF;
  background: rgba(0, 85, 255, 0.99);
}

::-moz-selection {
  color: #FFF;
  background: rgba(0, 85, 255, 0.99);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


html,
body {
  width: 100%;
  height: 100%;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  background: #000;
  color: #fff;
  margin: 0;
}

body > div {
  width: 100%;
  height: 100%;
}

a {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 1;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li {
  margin: 0 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  padding: 200px 40px;
}

.typewriter {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 5vw;
  height: 5vw;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  border-radius: 0.3vw;
  width: 0.3vw;
  height: 5vw;
  background: #05F;
  animation: blink 1s linear infinite forwards;
}

.controls {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.slider {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  width: 150px;
}

input[type="range"] {
  appearance: none;
  height: 2px;
  border-radius: 2px;
  outline: none;
  width: 250px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #fff;
}